.collection-item {  
  margin: 3rem;  
}

.collection-item a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 30rem;
  height: 30rem;
  color: var(--primary-color);
}

@media (min-width: 749px) {
  .collection-item a {
    width: 20rem;
    height: 20rem;
  }
}

.collection-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection-item p {
  font-size: 2.5rem;
  margin-top: 1rem;
}
