.product-item {
  margin: 2rem;
}

.product-item a {
  display: inline-block;
  width: 20rem;
  height: 20rem;
  text-decoration: none;
}

.product-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item p {
  font-size: 2rem;
  color: var(--primary-color);
}

.product-item .price {
  font-size: 2.5rem;
  color: var(--secondary-color);
}
