.intro {
  margin-bottom: 2rem;
}

.intro h1 {
  font-size: 4rem;
  letter-spacing: 0.3rem;
  font-weight: 300;
}

.intro h5 {
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  color: var(--quartery-color);
}

.intro h3 {
  font-size: 3rem;
  color: var(--secondary-color);
}
