@import url("https://fonts.googleapis.com/css?family=Alegreya");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Alegreya", serif;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #12376e;
  --secondary-color: #34598f;
  --tertiary-color: #23487f;
  --quartery-color: #45889f;
}

#root {
  display: grid;
  grid-template-rows: min-content 100% min-content;
  grid-template-columns: minmax(6rem, 1fr) 1fr minmax(6rem, 1fr);
}
